* { 
    margin: 0 ;
    padding: 0;
    box-sizing: border-box; /* para fazer os calculos de borda a borda */ 
}

/* trabalhando variaveis de cores que vao estar presentes no projeto*/ 
:root { 
--brand-color-light: #60A5FA;
--brand-color-dark: #1D4ED8;

--bg-color: #0F172A;
--stroke-color: #1E293B; 

--text-color-primary: #F1F5F9;
--text-color-secondary: #CBD5E1;

--font-family: 'Archivo', 'Sans-serif'; 
--h1: 800 24px/135% var(--font-family);
--h2: 800 16px/140% var(--font-family);
--h3: 800 14px/140% var(--font-family); 
--text-span: 400 14px/140% var(--font-family);
--text: 400 16px/140% var(--font-family);
--text-sm: 400 14px/160% var(--font-family); 
}

body { 
font: var(--text);
color: var(--text-color-primary);
background-color: var(--bg-color);
}

a {                 /* personalizando os links */ 
  text-decoration: none ;
  color: inherit; /* significa que estamos herdando a cor do body, ou seja, do pai*/ 
}
 
a:hover {   /* quando passar o mouse em cima do A "dos links"  */ 
    color: var(--brand-color-light);

}

h1, h2, h3 { 
font: inherit;  /* herdando novamente a fonte do elemento pai. */

}


img { 
  max-width: 100%;  /* estou falando pra imagem, pra ela respeitar a largura da caixa que ela esta naquele momento */
}

.container {   /* onde vai conter as coisas */ 
   max-width: 1280px ;
   padding-inline: 32px;   /* eixo horizontal, recaptulando  */
   margin-inline: auto;
   display: grid;
}
/* fui no header e fiz o seguinte, coloquei uma class nele class=container para ele pegar essas informações  */


/* utility-first - conceito de uf, quando tenho uma classe, que ela vai fazer apenas uma coisa  */
/* CLASSE UTILITARIA .grid */
.grid {            
  display: grid;
}

.grid-flow-col {  /* estarei mudando o fluxo do grid, "flow"  */ 

  grid-auto-flow:column;   /*  flow automatico */
  
}

.grid-cols-2 { 

grid-template-columns: 1fr 1fr;
}

.gap-16 { 
  gap: 16px;
}


.gap-32 {
   gap: 32px;
}



.text-2xl {    /* texto extra large, 2x grande */
 font: var(--h1);

}

.text-xl {   
  font: var(--h2);
 
 }

 .text-lg {    
  font: var(--h3);
 
 }


 .text-sm {    
  font: var(--text-sm);
 
 }

/* PONTO IMPORTANTE: CRIAMOS A .GRID PRIMEIRO, DEPOIS FOMOS NO HTML, E CLASSIFICAMOS O ELEMENTO SECUNDAY
E PRIMARY COMO CLASS="GRID GRID-FLOW-COL" ASSIM ELE FICOU MAIS CORRETO PERTO DO PERFEITO O NOSSO HEADER */

/* CRIAMOS PRIMEIRO O CSS E CLASSIFICAMOS LA NO HTML , RESUMIDAMENTE. */


main {   /* o main ele esta definindo as sections, nesse projeto*/
  margin-block: 40px;
  margin-top: 40px;
  row-gap: 80px;
  column-gap: 32px;
  grid-template-columns: 2fr 1.4fr; /* organizando a parte das imagem menos, apenas 30% ali na parte da direita */ 

  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside";
}

.content-tag { 
 display: inline-block; /* para a propriedade do padding ficar correta */ 
 background-color: var(--brand-color-dark) ;
 padding: 4px 8px;
 border-radius: 4px;
 font: 500 10px/1.2 var(--font-family);
 text-transform: uppercase;
 letter-spacing: 0.04em;
 color: var(--text-color-primary);
 box-shadow: 8px 4px 16px rgba(2, 6, 23, 0.251);
}