#primary { 
 padding-block: 20px; /* estamos pegando apenas eixo vertical, em cima e em baixo */ 



/* dentro do proprio"primary" vou pegar a div, com o seletor abaixo */
/* chamasse de NASTING CSS*/ 
div:nth-child(2) {
 margin-inline: auto;   /* inline, esquerda para direita */
 
}

div:nth-child(3) {
 justify-self: end;
 
}


#secondary {
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none;

}

}

