/* padronizando o header */
section header { 
 border: 1px solid var(--stroke-color);
 padding-block: 12px 24px ;     /* ""eixo vertical"" */
 font: var(--text-span);

 a { 
  justify-self:end ; /* jogar o "ver tudo la pra direita */
  align-items: center; /* deixar os itens bem alinhados */
  gap: 8px; /*dando o espaçamento correto na setinha, fazendo ela aparecer */
   

  span {   /* criando a nossa setinha */
    background-image: url(../Assets/Icons/ArrowRight.svg);
    width: 16px;
    height: 16px;
    

  }

  &:hover span {   /* &:hover significa "quando eu passo  o mouse em cima, nesse caso, do span */
    background-color: blue;
    border-radius: 2px;
    
  }

}
 
}


#featured {
  grid-area: featured;
  
  img {
    height: 100%; /* preeche os espaço certinho que estava sobrando, porem a imagem .. estica */
    object-fit: cover; /* quando a gente coloca o cover resolve isso. preenche o espaço que tava sobrando*/
    

  }


   /* estou criando um elemento com css, preciso de um posicionamento, cor de fundo: */
  .card { 
    border-radius: 4px;
    overflow: hidden; /* esconda tudo que passar da cx. overflow: transbordamento  */
    position: relative;
    
    
    &::before {   /* o "&" comercial esta substituindo o "card", pois ja esta dentro aqui */
     content: "";     
     position: absolute;
     inset: 0;
     top:50%; 
     background: linear-gradient(
       180deg, transparent 0%, #020617 100%
     ); 
     
     /* função que permite fazer um degrade */ 
     /* primeiro coloco a angulação que eu quero no caso 180 graus em ingles, 180deg*/
     /* segundo, coloco a cor, no caso transparente saindo do 0%, e depois a cor final */ 


     }

      figcaption { 
         position: absolute;
         bottom: 0;
         padding: 24px;

         &:has(.text-lg) {  /* no figcaption, dentro dele, tem algum 'text-lg' sim? ok! aplica entao esse padding pra mim  */ 
          padding: 12px;
         }
    




        /* dentro de figcaption temos um h2, é só ver no HTML. */

        h2 {
          margin-top: 8px;
        }
       
      }



  }


}

#weekly { 
  grid-area: weekly;
  
  header 

  img{
  height: 160px; /* mexendo na altura da imagem, na maioria das vezes mexemos na largura,porem nesse cenario faz mais sentido mexer na altura*/ 

  }

  &>div {   /* peganda a primeira div do weekly */

     grid-template-columns: repeat(4, 292px);


  }

figure { 
 position: relative;
 
 .content-tag { 
   position: absolute;
   top: 8px;
   left: 8px;
 }
}
 
p {
  margin-top: 8px;
  font-weight: 800;  /* peso da fonte */
 }

}

#ai {
grid-area: ai;



  img {
    width: 176px ;
    aspect-ratio: 1/1 ; /*fazer a imagem ficar quadrada */
    object-fit: cover; /* cobrir toda area da imagem */

   }

   h3 {
    margin-block: 8px 4px; /* 8 em cima 4 em baixo*/
   }
}

aside {
  grid-area: aside;

}


#more { 
 margin-top: 32px;

  h3 {
    margin-top: 8px;
  }

  img { 
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
